Q1. List any five functions of the pandas library with execution.

#Ans_1.
* read_csv(): This function is used to read data from a CSV file into a Pandas DataFrame.

In [1]:
import pandas as pd
df0 = pd.read_csv("categorical_data.csv")
df0

  colors
0    Red
1   Blue
2  Green
3    Red
4   Blue
5  Green

* head(): It displays the first 5(default) rows of a DataFrame, useful for quickly inspecting the data.

In [2]:
df0.head()

  colors
0    Red
1   Blue
2  Green
3    Red
4   Blue

* tail(): It displays the last 5(default) rows of a DataFrame, useful for quickly inspecting the data.

In [3]:
df0.tail()

  colors
1   Blue
2  Green
3    Red
4   Blue
5  Green

* describe(): It generates summary statistics of the numerical columns in a DataFrame.

In [4]:
df0.describe()

       colors
count       6
unique      3
top       Red
freq        2

* info(): This function provides a concise summary of the DataFrame, including data types and missing values.

In [5]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   colors  6 non-null      object
dtypes: object(1)
memory usage: 176.0+ bytes

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [6]:
#Ans_2.
df = pd.DataFrame({'A': [10, 20, 30],
                   'B': [40, 50, 60],
                   'C': [70, 80, 90]})
df

    A   B   C
0  10  40  70
1  20  50  80
2  30  60  90

In [7]:
def re_index(x):
    x.index = range(1, len(x)*2,2)
    return x
df_new = df.apply(re_index)
df_new

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [8]:
#Ans_3.
data = {'Values': [10, 20, 30, 40, 50]}
df1 =pd.DataFrame(data)
df1.apply(lambda x : x.head(3).sum())

Values    60
dtype: int64

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [9]:
#Ans_4.
pd.set_option("display.max_colwidth",500)
data1 = {"Text":["Master the intricacies of Data Science and become an innovation catalyst. This program offers a deep dive into statistical techniques, machine learning algorithms, and big data tools, positioning you at the forefront of driving technological advancements."]}
df2 = pd.DataFrame(data1)
df2['Word_Count'] = df2['Text'].apply(lambda x : len(x.split()))
df2

,Text,Word_Count
0,"Master the intricacies of Data Science and become an innovation catalyst. This program offers a deep dive into statistical techniques, machine learning algorithms, and big data tools, positioning you at the forefront of driving technological advancements.",36

Q5. How are DataFrame.size() and DataFrame.shape() different?

#Ans_5.
* Size and shape of a dataframe in pandas python: Size of a dataframe is the number of fields in the dataframe which is nothing but number of rows * number of columns. Shape of a dataframe gets the number of rows and number of columns of the dataframe.

In [10]:
#Example of DataFrame.size()
df.size   # 3 * 3 = 9

9

In [11]:
#Example of DataFrame.shape()
df.shape

(3, 3)

Q6. Which function of pandas do we use to read an excel file?

In [12]:
#Ans_6.
df3 = pd.read_excel("LUSID Excel - Setting up your market data.xlsx")

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [13]:
#Ans_7.
data = {'Email': ['john.doe@example.com', 'jane.smith@example.com']}
df4 = pd.DataFrame(data)
df4['Username'] = df4.apply(lambda x : x.str.split('@').str[0])
df4

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [14]:
#Ans_8.
DataFrame = {'A': [3,8,6,2,9],
                   'B': [5,2,9,3,1],
                   'C': [1,7,4,5,2]}
df5 = pd.DataFrame(DataFrame)
df6 = df5[(df5['A'] > 5) & (df5['B'] < 10)]
df6

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [15]:
#Ans_9.
data = {'Values': [10, 20, 30, 40, 50]}
df1 =pd.DataFrame(data)
def calculate_statistics(x):
    mean = x.mean()
    median = x.median()
    std = x.std()
    return mean,median,std
df7 = df1.apply(calculate_statistics)
df7

      Values
0  30.000000
1  30.000000
2  15.811388

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [16]:
#Ans_10.
data_sales = {'Date': ['2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04', '2023-09-05', '2023-09-06', '2023-09-07'],
              'Sales': [10, 15, 20, 25, 30, 35, 40]}

df8 = pd.DataFrame(data_sales)

def calculate_moving_average(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.sort_values('Date')
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

df8 = calculate_moving_average(df8)
df8

        Date  Sales  MovingAverage
0 2023-09-01     10           10.0
1 2023-09-02     15           12.5
2 2023-09-03     20           15.0
3 2023-09-04     25           17.5
4 2023-09-05     30           20.0
5 2023-09-06     35           22.5
6 2023-09-07     40           25.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [17]:
#Ans_11.
data_set = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df9 = pd.DataFrame(data_set)
df9

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05

In [18]:
def cal_weekday(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df

In [19]:
df9 = cal_weekday(df9)
df9

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [20]:
#Ans_12.
date = {'Date': ['2023-01-03', '2023-01-15', '2023-01-30', '2023-02-11', '2023-02-25']}
df10 = pd.DataFrame(date)

In [21]:
def filter_date_range(df):
    df['Date'] = pd.to_datetime(df['Date'])
    start_date = pd.Timestamp('2023-01-01')
    end_date = pd.Timestamp('2023-01-31')
    select_rows = df[(df['Date'] > start_date) & (df['Date'] < end_date)]
    
    return select_rows

In [22]:
df10 = filter_date_range(df10)
df10

        Date
0 2023-01-03
1 2023-01-15
2 2023-01-30

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

#Ans_13.
* To use the basic functions of Pandas, the first and foremost library that needs to be imported is, the Pandas library itself. we can import Pandas using the import statement in Python:

In [23]:
import pandas as pd

* By convention, pd is a commonly used alias for the Pandas library, making it easier to reference Pandas functions and objects in your code.